<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @branch.name %>
</p>

<p>
  <b>Address:</b>
  <%= @branch.address %>
</p>


<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
