<div id="sign-up-form" class="round-top-corners">
<p class="form-head-text">Sign up</p>
  
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-item">
      <div class="item">
        <%= f.email_field :email, :autofocus => true ,placeholder: "Email Address" %>
      </div>
      <div class="help">
        email address
      </div>
    </div>

    <div class="form-item">
      <div class="item">
        <%= f.password_field :password ,placeholder: "Password" %>
      </div>
      <div class="help">
        password
      </div>
    </div>

    <div class="form-item">
      <div class="item">
        <%= f.password_field :password_confirmation,placeholder: "Password Confirmation" %>
      </div>
      <div class="help">
        password confirmation
      </div>
    </div>

  <div class="form-item">
    <div class="controls">
        <%= f.submit "Sign up",class: "btn" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
