<% if @products.any? %>
    <%= link_to "edit #{controller_name.singularize}'s products","#",id: "edit_offer_products",class: "btn btn-small"  %>
    <%= link_to "collapse #{controller_name.singularize}'s products","#",id: "collapse_offer_products",class: "btn btn-info hide"  %>
<% end %>
<% if @unoffered_products.any? %>
    <%= link_to "add products","#",id: "add_offer_products",class: "btn btn-small"  %>
    <%= link_to "collapse products","#",id: "collapse_add_offer_products",class: "btn btn-info hide"  %>
<% end %>