<div id='edit-offer-edit-products' class="hide">
<p class="form-head-text">Offer products</p>
  
  <% if @products.any? %>
      <%= render 'products/index',products: @products,newbie: false%>
  <% else %>
      <p class=" alert no-results"> this offer does not contain any products yet 
        <button class="close" data-dismiss="alert">×</button>
      </p>
  <% end %>
</div>
<div id= "edit-offer-add-products" class="hide">
<p class="form-head-text">Add products to this <%= controller_name.singularize %> </p>
  
  <% if @unoffered_products.any? %>
      <%= render 'products/index',products: @unoffered_products,newbie: true%>
  <% else %>
      <p class=" alert no-results"> all products already are included in this <%= controller_name.singularize %>
        <button class="close" data-dismiss="alert">×</button>
      </p>
  <% end %>

</div>
