<div id="sign-in-form" class="round-top-corners">
  
  <p class="form-head-text">Sign in</p>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="form-item">
      <div class="item">
        <%= f.email_field :email, :autofocus => true ,placeholder: "Email Address"%>
      </div>
      <div class="help">
        Email Address
      </div>
    </div>

    <div class="form-item">
      <div class="item">
        <%= f.password_field :password ,placeholder: "Password"%>
      </div>
      <div class="help">
        Password
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>

    <div class="form-item">
      <div class="controls">
        <%= f.check_box :remember_me %> Remember me
      </div>
    </div>
    <% end -%>

    <div class="form-item">
      <div class="controls">
        <%= f.submit "Sign in",class: "btn" %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
