<%= form_for(@offer) do |f| %>

  <div class="form-item">
        <div class="item">
          <%= f.text_field :name,placeholder: "#{controller_name.singularize} name" %>
        </div>
        <%= f.error_message_on :name %>
        <div class="help">
          <%= "#{controller_name.singularize} name" %>
        </div>
  </div>
  <div class="form-item">
        <div class="item">
          <%= f.text_area :description,rows: 5,placeholder: "#{controller_name.singularize} description" %>
        </div>
        <%= f.error_message_on :description %>
        <div class="help">
          <%= "#{controller_name.singularize} description" %>
        </div>
  </div>
  <div class="form-item">
        <div class="item">
          <%= f.text_field :start,placeholder: "#{controller_name.singularize} start date",class: "datepicker" %>
        </div>
        <%= f.error_message_on :start %>
        <div class="help">
          <%= " date #{controller_name.singularize} starts at " %>
        </div>
  </div>
  <div class="form-item">
        <div class="item">
          <%= f.text_field :end,placeholder: "#{controller_name.singularize} end date",class: "datepicker" %>
        </div>
          <%= f.error_message_on :end %>
        <div class="help">
          <%= " date #{controller_name.singularize} ends at" %>
        </div>
  </div>
  <div class="form-item">
        <div class="item input-prepend">
          <span class="add-on">%</span>
          <%= f.number_field :discount,id: "prependedInput",placeholder: "#{controller_name.singularize} discount" %>
        </div>
          <%= f.error_message_on :discount %>
        <div class="help">
          <%= "#{controller_name.singularize} discount" %>
        </div>
  </div>
  <div class="form-item">
    <div class="controls">
      <%= f.submit nil,class: "btn" %>
    </div>
  </div>
<% end %>

