
<div id="offers-list" class=''>

    <% @offers.each do |offer| %>
        <div id="offer_<%= "#{offer.id}" %>" class="offer unlink-text" >
          <div class = " offer-detail  main-detail">
            <span> 
              <%= link_to truncate(offer.name,length:50),"offers/#{offer.id}",class: "unlink-text",title: offer.name%>
            </span> 
          </div>
          <div class = " offer-detail  main-detail">
            <span> <%= link_to truncate(offer.description,length: 70),"offers/#{offer.id}",class: "unlink-text",title: offer.description %>             </span>
          </div>
          <div class = " offer-detail  secandary-detail">
            <span> start at :<%= offer.start.to_date %>  </span>
          </div>
          <div class = " offer-detail  secandary-detail">
            <span> ends at: <%= offer.end.to_date %>     </span>
          </div>
          <% if admin_user_signed_in? %>

              <% if controller_name == "products" %>
                <%= link_to '<i class="icon-trash icon-white "></i>'.html_safe,"/offers/#{offer.id}/remove_from_offer?product_id=#{@product.id}",class: " btn btn-small btn-inverse destroy",remote: true%>
                
              <% else %>
              <%= link_to '<i class="icon-trash icon-white"></i>'.html_safe,"/offers/#{offer.id}",method: :delete,remote: true,class: " btn btn-small btn-inverse destroy"%>
              <%= link_to '<i class="icon-edit "></i>'.html_safe,"/offers/#{offer.id}/edit",class: " btn btn-small  edit"%>

              <% end %>
          <% end %>
        </div>
    <% end %>

</div>