<% if @offers.any? %>
  <%= render "index" %>
<% else %>
    <p class=" alert no-results"> there is no offers added yet
      <button class="close" data-dismiss="alert">×</button>
    </p>  
<% end %>

<% if admin_user_signed_in? %>
  <div class="index-actions">
      <%= link_to 'new offer',new_offer_path,class: 'btn'  %>
  </div>
<% end %>
