

<div id='show-offer' class=''>
     <div id='show-offer-name' class='tooltipped unlink-text' data-content= "<%= @offer.name %>">
         <%= truncate(@offer.name,length: 35)%>
     </div>
     <div id='show-offer-desc' class='tooltipped unlink-text' data-content= "<%= @offer.description %>">
        <%= truncate(@offer.description,length: 450) %>
    </div>
    <div id='show-offer-start', class='pull-right '>
         From : <%= @offer.start.to_date %>
    </div>
    <div id='show-offer-end' , class='pull-right '>
        To:<%= @offer.end.to_date %>
    </div>
    <div id='show-offer-discount' class='pull-right '>
        <p>
            save up to 
            <span>
                <%= @offer.discount %>%
            </span>
        </p>
    </div>

</div>
<% if @products.any? %>
    <%= render 'products/index' ,products: @products%>
<% else %>
    <p class=" alert no-results"> this offer does not contain any products yet 
      <button class="close" data-dismiss="alert">×</button>
    </p>
<% end %>

<% if admin_user_signed_in? %>
    <div class='show-actions'>
              <%= link_to 'edit offer',"/offers/#{@offer.id}/edit",class: " btn "%>
              <%= link_to 'delete offer',"/offers/#{@offer.id}",method: :delete,class: " btn btn-inverse "%>

    </div>
<% end %>