

/*index template*/



.offer,
.product,
.category {
  position: relative;
  display: inline-block;
  background-color: #eee;
  width: 300px;
  height:200px;
  margin: 10px 0 0 15px;
  padding: 5px; 
  box-shadow: 0 0 5px 1px #ddd;
  border-radius: 15px;
}
.offer > .destroy,
.product > .destroy,
.category > .destroy,
.offer > .edit,
.product > .edit,
.category > .edit {
  position: absolute;
  display: none;
  bottom: 5px;
}

.offer > .destroy,
.product > .destroy,
.category > .destroy {
  right: 5px;
}  
.offer > .edit,
.product > .edit,
.category > .edit{
  right: 40px;
}  

.offer-detail,
.product-detail,
.category-detail{
  position: relative;
  margin: 5px;
  float: left;
  background-color: #ddd;
  text-align: center;
  width: 140px;
  border-radius: 15px;
  box-shadow: 0 0 1px 1px #ccc;
}

.offer-detail span,
.product-detail span,
.category-detail span{
  display: block;
  color: #555;
}

.main-detail{
  height: 120px;
}

.secandary-detail{
  height: 60px;
  margin-top: 5px;
}

.main-detail > span{
  margin-top: 25%;
}

.secandary-detail > span{
  margin-top: 10%;
}
.old-price{
  text-decoration: line-through;
}
.offered-price{
  margin-top: 0 !important;
  text-decoration: none ;
}
.index-actions,
.show-actions{
  margin: 10px;
  text-align: center;
  text-transform: capitalize;
}
.show-actions a{
  margin: 0 10px;
}


/* show template */

#show-offer,
#show-category,
#show-product{
  position: relative;
  height: 210px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #eee;
  box-shadow: 0 0 1px 1px #ddd;
}

#show-offer-name,
#show-category-name,
#show-product-name{
  width : 250px;
  padding: 30px 0px;
  margin: 0px 0px 0 10px;
  border-radius: 15px;
  text-align: center;
  background-color: #ddd;
  box-shadow: 0 0 1px 1px #ccc;
}

#show-offer-desc,
#show-category-desc,
#show-product-desc{
  margin: 10px 0px 0 10px;
  display: block;
  color: #333;
  width: 500px;
  height: 100px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #ddd;
  box-shadow: 0 0 1px 1px #ccc;
}

#show-offer-start,
#show-offer-end{
  position: absolute;
  right: 20px;
  display: block;
  border-radius: 15px;
  background-color: #ddd;
  width:200px;
  padding: 10px 0 ;
  text-align:center;
  box-shadow: 0 0 1px 1px #ccc;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 16px;  
}

#show-offer-start{
  top:130px;
  color: green;
}

#show-offer-end{
  top:180px;
  color: red;
}

#show-offer-discount{
  width:200px;
  padding-top: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #ddd;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 1px 1px #ccc;
}
#show-offer-discount > p{
  color: #333;
  font-size: 15px;
  text-transform: capitalize;
}
#show-offer-discount > p > span{
  color: green;
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
  display: block;
}
#show-product-price,
#show-product-categories{
  text-align: center;
  padding: 20px 0px;
  position: absolute;
  width:200px;
  right: 20px;
  top:10px;
  background-color: #ddd;
  border-radius: 15px;
  box-shadow: 0 0 1px 1px #ccc;
}

#show-product-price{
  font-size: 18px;
  font-weight: bold;
}

#show-product-categories{
  top:80px;
}

/* form template */

#offer-form,
#category-form,
#product-form,
#sign-up-form,
#sign-in-form{
  padding: 10px 60px 10px 40px;
  background-color: #eee;
}

.form-item{
  margin : 10px;
}

.form-item .item input[type=number]{
  width:290px;
}

.form-item .item input,
.form-item .item textarea{
  width: 320px;
}

.form-item .item{
  display: inline-block;
}

.form-item div.help {
  display: none;
  color: #555;
  text-transform: capitalize;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
  }

.form-item .controls{
  padding-left: 250px; 
}

.form-head-text{
  text-align: center;
  color:#777;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff; 

}
#error_explanation{
  text-align: center;
}
#error_explanation .alert{
  width: 830px;
}
.field_with_errors,
.formError{
  display: inline-block;
}
.formError{
  color: #e64c4f;
  padding: 0 20px;
  margin: 0 5px;
  background-color: #f2dede;
  border-radius: 10px;
}

/* edit template */
#edit-offer-add-products p ,
#edit-offer-edit-products p {
  padding-top: 10px;
  color: #555;
}

/* notifications */

#notifications{
  position: absolute;
  width: 300px;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
}

/*common style */

.main-body{
  margin:  0px auto;
  margin-top: 50px;
  width:1000px;
  border-radius: 15px;
  border: 1px dotted #ddd;
}
.round-top-corners{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.round-bottom-corners{
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.alert{
  border-radius: 15px;
  width: 930px;
  margin: 10px;
  text-align: center;
}
.alert-success{
  box-shadow: 0 0 2px 1px #e3f0de;
}
.alert-error{
  box-shadow: 0 0 2px 1px #f2dede;
}
.unlink-text{
  color: #333;
}
.unlink-text:hover,
.unlink-text:visited{
  color:#333;
  background-color: #eee;
  text-decoration: none;
  text-shadow:
    1px -1px 0 #fff,
    1px 1px 0 #fff; 
}
a.unlink-text:hover,
a.unlink-text:visited{
  background-color: #ddd;
}
p.no-results{
  text-align: center;
  text-transform: capitalize;
}
ul{
  list-style: none;
}
}
ul{
  list-style: none;
}
footer {
  text-align: center;
  background-color: #eee;
  border-top: 1px dashed #ccc;
  height: 50px;
}

footer ul{
  position: relative;
  margin: 15px 0;
}

footer ul li a {
  color: #555;
}

footer ul li {
  display: inline-block;
  text-align: center;
  margin: 0px 10px;
}
#myModal{
  width:700px;
  margin-left: -25%;
}
.removed-mark,
.added-mark{
  position: absolute;
  top:45%;
  width:100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bold;
}
.removed-mark{
  color: #b22c2c;
}
.added-mark{
  color: #24712b;
}


/* testing */
.high{
  border: 1px solid red;
}