<div id="products-list">

    <% @products.each do |product| %>
        <div class="product">
          <div class = " product-detail  main-detail">
            <span> <%= product.name %>                    </span> 
          </div>
          <div class = " product-detail  main-detail">
            <span> <%= product.description %>             </span>
          </div>
          <div class = " product-detail  secandary-detail">
            <span>
                <%= product.price %> $
            </span>
          </div>

        </div>
    <% end %>

</div>