<div id='category-form' class="round-top-corners">

  <p class="form-head-text"><%= "update #{controller_name.singularize}" %></p>
  <%= render 'form' %>
  <% if admin_user_signed_in? %>
      <%= render 'shared/expand_collapse_links' %>
    </div>
    <%= render 'shared/products_handler' %>
  <% else %>
    </div>    
  <% end %>
