
<div id="categories-list">
<% if @categories.any? %>
  
  
    <% @categories.each do |category| %>
        <div id="category_<%= "#{category.id}" %>" class="category unlink-text">
          <div class = " category-detail  main-detail">
            <span> <%= link_to truncate(category.name,length: 50),"/categories/#{category.id}",class: "unlink-text",title: category.name %>                    </span> 
          </div>
          <div class = " category-detail  main-detail">
            <span> <%= link_to truncate(category.description,length: 70),"/categories/#{category.id}",class: "unlink-text",title: category.description %>             </span>
          </div>
          <div class = " category-detail  secandary-detail">
            <span> contains <%= category.products.count %> Product(s)  </span>
          </div>
          <% if admin_user_signed_in? %>
              <%= link_to '<i class="icon-trash icon-white"></i>'.html_safe,"/categories/#{category.id}",method: :delete,remote: true,class: " btn btn-small btn-inverse destroy"%>
              <%= link_to '<i class="icon-edit "></i>'.html_safe,"/categories/#{category.id}/edit",class: " btn btn-small edit"%>
          <% end %>

        </div>
    <% end %>
<% else %>
    <p class=" alert no-results"> there is no categories added yet 
      <button class="close" data-dismiss="alert">×</button>
    </p>

<% end %>
</div>
<% if admin_user_signed_in? %>
  <div class="index-actions">
      <%= link_to 'new category',new_category_path,class: 'btn'  %>
  </div>
<% end %>
