$('#product_<%="#{@product.id}"%>').append('<%=j render "shared/removed_mark"%>')
$('#offer_<%="#{@item.id}"%>').append('<%=j render "shared/removed_mark"%>')
$('#product_<%="#{@product.id}"%>').fadeOut(800);
$('#offer_<%="#{@item.id}"%>').fadeOut(800);
