

<div id='show-category' class=''>
     <div id='show-category-name' class=''>
        <span> <%= link_to truncate(@category.name,length: 35),"#",class: "unlink-text",title: @category.name %> </span>
     </div>
     <div id='show-category-desc'>
        <%= link_to truncate(@category.description,length:350),"#",class: "unlink-text",title: @category.description %>
    </div>
</div>
<% if @products.any? %>
    <%= render 'products/index',products: @products%>
<% else %>
    <p class=" alert no-results"> this category does not contain any products yet 
      <button class="close" data-dismiss="alert">×</button>
    </p>
<% end %>

<% if admin_user_signed_in? %>
    <div class='show-actions'>
              <%= link_to 'edit category',"/categories/#{@category.id}/edit",class: " btn "%>
              <%= link_to 'delete category',"/categories/#{@category.id}",method: :delete,class: " btn btn-inverse "%>

    </div>
<% end %>