    <%= form_for(@product) do |f| %>
      <div class="form-item">
        <div class="item">
        <%= f.text_field :name,placeholder: "#{controller_name.singularize} name" %>
        </div>
        <%= f.error_message_on :name %>
        <div class="help">
          <%= "#{controller_name.singularize} name" %>
        </div>
      </div>
      <div class="form-item">
        <div class="item">
        <%= f.text_area :description ,rows: 5,placeholder: "#{controller_name.singularize} description" %>
        </div>
        <%= f.error_message_on :description %>
        <div class="help">
          <%= "#{controller_name.singularize} description" %>
        </div>
      </div>
      <div class="form-item">
        <div class="item input-prepend">
          <span class="add-on">$</span>
          <%= f.number_field :price,id: "prependedInput",placeholder: "#{controller_name.singularize} price " %>
        </div>
        <%= f.error_message_on :price %>
        <div class="help">
          <%= "#{controller_name.singularize} price " %>
        </div>
      </div>
      <div class="form-item">
        <div class="controls">
          <%= f.submit nil,class: "btn" %>
        </div>
      </div>
    <% end %>
