<div id="products-list" >

    <% products.each do |product| %>
        <div id="product_<%= product.id %>" class="product unlink-text">
          <div class = " product-detail  main-detail">
            <span> <%= link_to truncate(product.name,length: 50),"/products/#{product.id}" ,class: "unlink-text",title: product.name  %></span> 
          </div>
          <div class = " product-detail  main-detail">
            <span> <%= link_to truncate(product.description,length: 70),"/products/#{product.id}",class: "unlink-text",title: product.description %>             </span>
          </div>
          <div class = " product-detail  secandary-detail">
            <span class="<%= 'old-price' if(controller_name == "offers" && action_name == "show")%>">
                <%= product.price %> $
            </span>
            <% if controller_name == "offers" && action_name == "show" %>
              <span class="offered-price">
                  <%= product.price_of_offer @offer.id %> $
              </span>
            <% end %>
          </div>
          <% if controller_name == "categories" && action_name=="show" %>
              <% no_of_offers = product.offers.count %>
              <div class = " product-detail  secandary-detail">
                <span>
                  <% if no_of_offers > 0 %>
                    <%= link_to "#{no_of_offers} Offers",list_offers_product_path({id: product.id}),remote: true,class: "unlink-text"  %>
                    
                  <% else %>
                     No Offers
                  <% end %>
                </span>
              </div>
          <% end %>


          <% if admin_user_signed_in? %>
              <% if controller_name == "offers" %>
                <% if action_name == "edit" && newbie == false %>
                  <%= link_to '<i class="icon-trash icon-white "></i>'.html_safe,"/offers/#{@offer.id}/remove_product?product_id=#{product.id}",class: " btn btn-small btn-inverse destroy",remote: true,title: "remove product form this offer "%>
                <% elsif  action_name == "edit" && newbie == true %>
                  <%= link_to '<i class="icon-ok icon-white "></i>'.html_safe,"/offers/#{@offer.id}/add_product?product_id=#{product.id}",class: " btn btn-small btn-success destroy",remote: true,title: "add product to this offer "%>
                <% end %>
              <% elsif controller_name == "categories" %>
                <% if action_name == "edit" && newbie == false %>
                  <%= link_to '<i class="icon-trash icon-white "></i>'.html_safe,"/categories/#{@category.id}/remove_product?product_id=#{product.id}",class: " btn btn-small btn-inverse destroy",remote: true,title: "remove product form this category "%>
                <% elsif  action_name == "edit" && newbie == true %>
                  <%= link_to '<i class="icon-ok icon-white "></i>'.html_safe,"/categories/#{@category.id}/add_product?product_id=#{product.id}",class: " btn btn-small btn-success destroy",remote: true,title: "add product to this category "%>
                <% end %>
              <% elsif controller_name == "products"%>
              <%= link_to '<i class="icon-trash icon-white"></i>'.html_safe,"/products/#{product.id}",method: :delete,remote: true,class: " btn btn-small btn-inverse destroy"%>
              <%= link_to '<i class="icon-edit "></i>'.html_safe,"/products/#{product.id}/edit",class: " btn btn-small  edit"%>
              <% end %>
          <% end %>
        </div>
    <% end %>

</div>


