<% if @products.any?  %>
  <%= render 'products/index' , products: @products%>
<% else %>
    <p class=" alert no-results"> there is no products added yet
      <button class="close" data-dismiss="alert">×</button>
    </p>
<% end %>
<% if admin_user_signed_in? %>
  <div class="index-actions">
      <%= link_to 'new product',new_product_path,class: 'btn'  %>
  </div>
<% end %>
