<div id='show-product' class=''>
     <div id='show-product-name' class='tooltipped unlink-text' data-content= "<%= @product.name %>">
            <%= truncate(@product.name,length: 35) %> 
     </div>
     <div id='show-product-desc' class='tooltipped unlink-text' data-content= "<%= @product.description %>">
            <%= truncate(@product.description,length:350)%>
    </div>
    <div id="show-product-price">
        <%= [@product.price,"$"].join(" ") %> 
    </div>
    <div id="show-product-categories" class="tooltipped" data-content='<%= @product.categories.map(&:name).join(", ") %>'>
        <% if @product.categories.any? %>
                <%=truncate @product.categories.map(&:name).join(", "),length:30 %>
        <% else %>
                Uncategorized
        <% end %>
    </div>
</div>

<% if @offers.any? %>
    <%= render 'offers/index' %>
    
<% else %>
        <p class=" alert no-results"> this products is not included into any offers yet
            <button class="close" data-dismiss="alert">×</button>
        </p>
<% end %>

<% if admin_user_signed_in? %>
    <div class='show-actions'>
              <%= link_to 'edit product',"/products/#{@product.id}/edit",class: " btn "%>
              <%= link_to 'delete product',"/products/#{@product.id}",method: :delete,class: " btn btn-inverse "%>

    </div>
<% end %>